.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link:hover,
.nav-link.active {
  color: #0465e3 !important;
}

.nav-link{
  font-family: fantasy;
  margin-right: 3rem;
}
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
